<html>
  <head>
    <title>Invitation to Super Optimal</title>
    {{> styles}}
  </head>
  <body>
    <div class="super-optimal-msg">
      <div class="super-optimal-space-top">
        <p>You have requested to login to Super Optimal.</p>
      </div>
      <a href={{returnUrl}} class="super-optimal-button super-optimal-space-top" target="_blank" rel="noopener noreferrer">Login</a>
      {{> footer}}
    </div>
  </body>
</html>