<html>
  <head>
    <title>Welcome to Super Optimal</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap" rel="stylesheet">
    {{> styles}}
  </head>
  <body>
    <div class="super-optimal-msg">
      <div class="super-optimal-msg-content">
        <p class="super-optimal-msg-lead">Hi {{name}},</p>
        <p>You've been invited to use Super Optimal, a powerful tool designed to analyze ad creatives and generate optimization feedback.</p>
        <p>Super Optimal takes into account the unique engagement characteristics of Out-of-Home (OOH) and helps to improve campaign effectiveness.</p>
        <a href={{returnUrl}} class="super-optimal-button super-optimal-space-top" target="_blank" rel="noopener noreferrer">Claim invite</a>
        <p>Press the button above to finish setting up your account</p>
        <p class="super-optimal-msg-signature">
          Thanks,
          <strong>The Super Optimal Team</strong>
        </p>
      </div>
      {{> footer}}
    </div>
  </body>
</html>